GEMINI_API_KEY = "본인_Gemini_API_Key"
SHEET_ID = "본인_Google_Sheet_ID"

GOOGLE_CREDS_JSON = """
{
  "type": "service_account",
  "project_id": "본인_project_id",
  "private_key_id": "본인_private_key_id",
  "private_key": "-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n",
  "client_email": "서비스계정@프로젝트.iam.gserviceaccount.com",
  "client_id": "본인_client_id",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "본인_client_x509_cert_url"
}
"""
